@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
/*Variables */
:root {
  --primarycolor: #e54d26;
  --secondarycolor: #3498db;
  --tertiarycolor: #2c3e50;
  --lightcolor: #ecefee;
  --purewhite: #fff;
  --pureblack: #000;
  --black40: #e8e8e8;
  --black80: #636363;
  --black90: #494949;
  --whitecolor: #fefefe;
  --blackcolor: #141414;
  --color-text: #494949;
  --color-heading: #070717;
  --colorred: #eb062c;
  --coloryellow: #ffbe3f;
  --colorbrown: #aa4930;
  --sectionpadding: 60px;
  --borderradius: 4px;
  --h1font: 52px;
  --font-family-heading: "Libre Franklin", sans-serif;
  --font-family-primary: "Archivo", sans-serif;
}
/* Rest */
body {
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 150%;
}

p {
  line-height: 150%;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--blackcolor);
}
a,
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 52px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}
h3 {
  font-size: 32px;
  font-weight: 500;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
/* General css */
.section-padding {
  padding: var(--sectionpadding) 0;
}
.section-padding-2x {
  padding: calc(var(--sectionpadding) * 2) 0;
}
.section-padding-2 {
  padding: calc(var(--sectionpadding) + 20px) 0;
}
.section-padding-4 {
  padding: calc(var(--sectionpadding) + 40px) 0;
}
.section-padding-n2 {
  padding: calc(var(--sectionpadding) - 20px) 0;
}
.section-padding-n4 {
  padding: calc(var(--sectionpadding) - 40px) 0;
}
.section-padding-bottom {
  padding-bottom: var(--sectionpadding);
}
.section-padding-top {
  padding-top: var(--sectionpadding);
}
.section-padding-bottom-2 {
  padding-bottom: var(--sectionpadding);
}
.section-padding-bottom-4 {
  padding-bottom: calc(var(--sectionpadding) + 40px);
}
.section-padding-bottom-n2 {
  padding-bottom: calc(var(--sectionpadding) - 20px);
}
.section-padding-bottom-n4 {
  padding-bottom: calc(var(--sectionpadding) - 40px);
}
.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

.color-white {
  color: var(--purewhite);
}
.color-white * {
  color: var(--purewhite);
}
.color-primary {
  color: var(--primarycolor);
}
.color-black {
  color: var(--blackcolor);
}
.color-black * {
  color: var(--blackcolor);
}
.color-offblack {
  color: #999;
}
.bg-light {
  background-color: var(--lightcolor) !important;
  color: var(--black90);
}
.bg-black {
  background-color: var(--blackcolor);
}
.bg-black-80 {
  background-color: var(--black80);
}
.bg-white {
  background-color: var(--purewhite);
}
.bg-green {
  background-color: var(--colorgreen);
}
.bg-primary {
  background-color: var(--primarycolor) !important;
}
.bg-brown {
  background: var(--colorbrown);
}
.spacer-10 {
  height: 10px;
  width: 100%;
}
.spacer-20 {
  height: 20px;
  width: 100%;
}
.spacer-30 {
  height: 30px;
  width: 100%;
}
.spacer-40 {
  height: 40px;
  width: 100%;
}
.spacer-50 {
  height: 50px;
  width: 100%;
}
.spacer-60 {
  height: 60px;
  width: 100%;
}
.spacer-70 {
  height: 70px;
  width: 100%;
}
.spacer-80 {
  height: 80px;
  width: 100%;
}
.spacer-920 {
  height: 900px;
  width: 100%;
}
.spacer-100 {
  height: 100px;
  width: 100%;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-10 {
  padding-top: 10px;
}
.pb-20 {
  padding-top: 20px;
}
.pb-30 {
  padding-top: 30px;
}
.pb-40 {
  padding-top: 40px;
}
.pb-50 {
  padding-top: 50px;
}
.pb-60 {
  padding-top: 60px;
}
.pb-70 {
  padding-top: 70px;
}
.pb-80 {
  padding-top: 80px;
}
.pb-90 {
  padding-top: 90px;
}
.pb-100 {
  padding-top: 100px;
}
.row-mb-3 > div:nth-child(n + 4) {
  margin-top: 3rem;
}

.border-radius-4, .border-radius {
  border-radius: var(--borderradius);
}
.border-radius-8, .border-radius-2x {
  border-radius: calc(var(--borderradius) * 2);
}
.border-radius-3x {
  border-radius: calc(var(--borderradius) * 3);
}
.border-radius-4x {
  border-radius: calc(var(--borderradius) * 4);
}
.border-radius-5x {
  border-radius: calc(var(--borderradius) * 5);
}
.btn-border {
  border: 1px solid;
}
.btn-border-black-40 {
  border-color: var(--black40);
}
.btn-bgcolor-primary {
  background: var(--primarycolor);
}
.header-btn ul li a:hover {
  color: var(--blackcolor);
}
a.btn-border:hover {
  background: var(--primarycolor);
  color: var(--purewhite) !important;
}
a.btn-bgcolor-primary:hover {
  border: 1px solid var(--black40);
}
/* Header */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.top-header {
  padding: 8px 0;
  background: #e2e2e2;
  color: #000;
}
.top-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-header ul li {
  float: left;
  margin-right: 10px;
}
.top-header ul li :last-child {
  margin-right: 0px;
}
.top-header ul a {
  color: #000;
}
.top-header a {
  color: #000;
}
.navbar-brand {
  display: none;
}
.navbar {
  padding: 0 1rem;
}
.dropdown-menu {
  margin: 0;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.btm-header {
  padding: 12px 0;
}
.btm-header .main-menu .navbar {
  margin-bottom: 0px;
}

.header-2 .main-menu {
  margin-top: 35px;
}

.navbar-fixed-top {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
  background: var(--purewhite);
}
.navbar-fixed-top .logo {
  width: 60%;
}
.navbar-expand-md .navbar-collapse {
  justify-content: center;
}
.navbar-nav li a {
  padding: 8px 12px !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: var(--primarycolor) !important;
}
.navbar-fixed-top .top-header-2 {
  display: none;
}
.navbar-fixed-top .main-menu {
  margin-top: 0;
}
/* Hero section */
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: var(--sectionpadding);
}
.hero-content-wrapper h1 {
  margin: 0;
}
.hero-content {
  width: 90%;
}
.hero-content p {
  font-size: 20px;
  line-height: 150%;
}
.hero-content > a {
  margin-top: 15px;
}
.dwk-counter h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0;
}
.dwk-counter p {
  font-size: 18px;
  margin-bottom: 0;
}
.hero-image-shadow {
  position: relative;
}
.hero-image-shadow::after {
  position: absolute;
  content: "";
  width: 80%;
  left: 60%;
  top: 20%;
  height: 80%;
  background: var(--primarycolor);
  border-radius: 0 24px 0 0;
  z-index: -1;
}

/* Festures section */

.icon-round {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: var(--primarycolor);
  text-align: center;
  line-height: 120px;
  margin-bottom: 32px;
}
/* How it works */
.content-how-it-works {
  padding-right: 80px;
}
.content-how-it-works h2 {
  margin-bottom: 40px;
  font-weight: 700;
}
.image-how-it-works img {
  border-radius: 24px;
}
.steps-list li a {
  color: var(--color-heading);
}
.steps-list li a p {
  color: var(--black80);
  margin-bottom: 0;
}
.step-link {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}
.step-link:hover,
.step-link.active-step {
  background-color: var(--blackcolor);
}

.step-link:hover .step-title,
.step-link:hover .step-description,
.step-link.active-step .step-title,
.step-link.active-step .step-description {
  color: var(--purewhite);
}
.step-item {
  padding: 0;
}
.steps-list-primary .step-link:hover,
.steps-list-primary .step-link.active-step {
  background-color: var(--primarycolor);
}
/* Swiper */

.slider-header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.swiper-pagination {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  position: static !important;
  width: auto !important;
}

.navigation-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  position: static !important;
  margin-top: 0 !important;
  transform: none !important;
}

/* Optional: Add hover effect */
.card-light .swiper-slide {
  background: var(--lightcolor);
  padding: 20px;
  border-radius: 16px;
  padding: 60px 24px;
  text-align: center;
}

.swiper-pagination-fraction {
  font-family: var(--font-family-primary);
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}
.slider-header-controls .swiper-button-next:after,
.slider-header-controls .swiper-button-prev:after {
  width: 21px;
  height: 24px;
  font-size: 0;
}
.slider-header-controls .swiper-button-next:after {
  background: url(../images/arrow-right.svg);
}
.slider-header-controls .swiper-button-prev:after {
  background: url(../images/arrow-left.svg);
}
.card-light .swiper-slide ul {
  justify-content: center;
}
.card-light .swiper-slide ul li i {
  font-size: 40px;
  color: var(--coloryellow);
  margin-bottom: 20px;
}
.card-light .swiper-slide {
  width: 70%;
  box-sizing: border-box;
}
.blog-card-wrapper.card-light .swiper-slide {
  width: 100%;
}
.card-light .swiper-slide .slide-content p {
  font-size: 20px;
  color: var(--black80);
}
.card-light .swiper-slide .slide-content span.sippers-name {
  font-size: 16px;
  color: var(--blackcolor);
}

.card-light .swiper-slide .slide-content span.shippers-desc {
  font-size: 12px;
  color: var(--blackcolor);
  display: block;
}
.section-benefits h2 {
  margin-bottom: 52px;
}
/* Blog Section */
.section-blog h2 {
  margin-bottom: 40px;
}
.blog-card-wrapper img {
  border-radius: 12px;
}
.blog-card-wrapper {
  gap: 42px;
  justify-content: space-between;
}
.blog-container .blog-card-wrapper {
  gap: 0;
}
.blog-card-wrapper .blog-card-thumbnail img {
  height: 284px;
  width: auto;
  object-fit: cover;
}
.blog-card-wrapper h3 {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.blog-card-wrapper p {
  font-size: 16px;
  color: var(--black80);
  line-height: 150%;
}
.blog-card-wrapper a.btn-blog {
  text-decoration: underline;
  color: var(--blackcolor);
  display: inline-flex;
  align-items: center;
  background: none;
  padding-right: 0;
}
.blog-card-wrapper a.btn-blog::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: url(../images/icon-arrow-black.svg) no-repeat center center /
    contain;
  transition: background-image 0.2s ease-in-out;
}
.blog-card-wrapper a.btn-blog:hover {
  color: var(--primarycolor);
}
.blog-card-wrapper a.btn-blog:hover::after {
  background-image: url(../images/icon-arrow-red.svg);
}
.article-quote p {
  margin-bottom: 0;
}
.blog-single-image-wrapper figure {
  margin: 0;
}
.blog-single-image-wrapper figure img, .blog-single-image-wrapper img {
  border-radius: calc(var(--borderradius) * 2)
}
article ol, article ul {
  padding-left: 16px;
  margin: 0;
}
.share-this ul {
  flex-wrap: wrap;
}
.sidebar-card a {
  color: var(--blackcolor);
}
.sidebar-card a:hover {
  color: var(--primarycolor);
}
.sidebar-card .sidebar-social  li:hover a  {
  color: var(--purewhite);
}
.sidebar-social li {
  border: 1px solid var(--blackcolor);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  transition: color .15s 
ease-in-out, background-color .15s 
ease-in-out, border-color .15s 
ease-in-out, box-shadow .15s 
ease-in-out;
}
.sidebar-social li:hover {
  background: var(--primarycolor);
  border: 1px solid var(--primarycolor);
}
/* Home contact section */
.heading-wrapper p {
  font-size: 20px;
  line-height: 150%;
  padding: 0 16%;
  margin-bottom: 48px;
}
.form-wrapper {
  border-radius: 16px;
  padding: 24px;
}

.form-wrapper a {
  color: var(--blackcolor);
}

.form-wrapper textarea {
  min-height: 160px;
  resize: none;
}
.form-wrapper input[type="checkbox"] {
  margin-right: 10px;
}
.form-wrapper a:hover {
  color: var(--primarycolor);
}
/* Pricing section */
.section-pricing .row.d-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 0;
  margin-right: 0;
}

.pricing-card {
  background: var(--lightcolor);
  border-radius: 16px;
  padding: 40px 32px;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
  margin: 0 !important;
}
.pricing-title a {
  background: var(--blackcolor);
  color: var(--purewhite);
  border-radius: 40px;
  padding: 8px 24px;
  font-size: 12px;
}
.pricing-card h4 {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing-card h3 {
  margin-top: 32px;
  font-weight: 700;
}
.pricing-package p {
  margin-bottom: 0;
}
.gradient-divider {
  height: 1px;
  margin: 32px 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );

  width: 100%;
}
.pricing-list ul li {
  position: relative;
  padding-left: 30px;
}
.pricing-list ul li::after {
  content: "";
  background: url(../images/icon-check.png) no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.pricing-card a.color-white {
  color: var(--purewhite);
}
.pricing-card a.color-white:hover {
  color: var(--blackcolor);
}
.pricing-card-diamond h3 {
  margin-top: 0;
}
.pricing-card-diamond h4 {
  justify-content: flex-start;
  gap: 12px;
}
.pricing-card-diamond {
  border-radius: 16px;
  padding: 40px 32px;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px !important;
}
.pricing-card-diamond .pricing-list ul li::after {
  background: url(../images/icon-check-white.png) no-repeat;
}
.pricing-list ul.d-grid {
  grid-template-columns: repeat(2, auto);
  gap: 16px;
}
.pricing-card-diamond .pricing-list ul li {
  width: auto;
}
.section-performance-metrics .dwk-counter li {
  padding: 0 20px;
}
/* Partner logos animation */
.scrolling-wrapper-container {
  overflow: hidden;

  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scrolling-wrapper {
  display: flex;
  gap: 120px;
  animation: scroll 10s linear infinite;
  padding: 25px 0;
}

.logo-item {
  flex-shrink: 0;
}

/* Pause the animation on hover */
.container:hover .scrolling-wrapper {
  animation-play-state: paused;
}
/* The animation that moves the wrapper */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Faq Accordion */
#accordionfaq .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
#accordionfaq .accordion-button {
  background: url("../images/icon-angle-right-black.png") no-repeat 16px center
    var(--purewhite);
  padding: 16px 18px 16px 32px;
  font-size: 20px;
  font-weight: 600;
}
/* #accordionfaq .accordion-button,   #accordionfaq .accordion-button:not(.collapsed) {
    background: var(--purewhite);
  } */
#accordionfaq .accordion-button:hover {
  background: url("../images/icon-angle-right-white.png") no-repeat 16px center
    var(--colorbrown);
  color: var(--purewhite);
}
#accordionfaq .accordion-button:not(.collapsed) {
  background: url("../images/icon-angle-right-white.png") no-repeat 16px center
    var(--colorbrown);
  color: var(--purewhite);
  box-shadow: none;
}
#accordionfaq .accordion-button::after {
  background: url("../images/icon-plus-black.png") no-repeat;
  width: 22px;
  height: 22px;
}
#accordionfaq .accordion-button:not(.collapsed)::after {
  background: url("../images/icon-minus-white.png") no-repeat;
  width: 24px;
  height: 24px;
}
#accordionfaq .accordion-collapse {
  background: var(--colorbrown);
  color: var(--purewhite);
  box-shadow: none;
}
#accordionfaq .accordion-item,
#championfaq .accordion-item {
  border-radius: 12px;
  border: none;
  overflow: hidden;
}

/* Faq Inner Accordion */
#accordionfaq-inner .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
#accordionfaq-inner .accordion-button {
  background: url("../images/icon-angle-right-black.png") no-repeat 16px center
    var(--purewhite);
  padding: 16px 18px 16px 32px;
  font-size: 20px;
  font-weight: 600;
}
/* #accordionfaq-inner .accordion-button,   #accordionfaq-inner .accordion-button:not(.collapsed) {
    background: var(--purewhite);
  } */
#accordionfaq-inner .accordion-button:hover {
  background: url("../images/icon-angle-right-white.png") no-repeat 16px center
    var(--black90);
  color: var(--purewhite);
}
#accordionfaq-inner .accordion-button:not(.collapsed) {
  background: url("../images/icon-angle-right-white.png") no-repeat 16px center
    var(--black90);
  color: var(--purewhite);
  box-shadow: none;
}
#accordionfaq-inner .accordion-button::after {
  background: url("../images/icon-plus-black.png") no-repeat;
  width: 22px;
  height: 22px;
}
#accordionfaq-inner .accordion-button:not(.collapsed)::after {
  background: url("../images/icon-minus-white.png") no-repeat;
  width: 24px;
  height: 24px;
}
#accordionfaq-inner .accordion-collapse {
  background: var(--black90);
  color: var(--purewhite);
  box-shadow: none;
}
#accordionfaq-inner .accordion-item {
  border-radius: 12px;
  border: 1px solid var(--black40);
  overflow: hidden;
}
/* Champion Accordion */

#championfaq .accordion-button:not(.collapsed) {
  background: var(--purewhite);
  box-shadow: none;
}
#championfaq .accordion-button {
  font-size: 24px;
  font-weight: 600;
}
#championfaq .accordion-button::after {
  content: "\2b";
  font-family: "FontAwesome";
  background: none;
}
#championfaq .accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-family: "FontAwesome";
  background: none;
}
/* Location details */
.location-content > li i {
  background: var(--primarycolor);
  color: var(--purewhite);
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  text-align: center;
}
.location-content > li p {
  margin-bottom: 0;
}
.map-wrapper {
  line-height: 0;
}
/* Footer */
footer {
  background: var(--blackcolor);
}
.footer-widget h3 {
  color: var(--purewhite);
}
.footer-widget {
  color: var(--purewhite);
}
.footer-widget h3 {
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 24px;
}
.footer-widget .footerlogo {
  margin-bottom: 24px;
}
.footer-widget ul li {
  list-style: none;
  line-height: 30px;
  padding-bottom: 5px;
}
.footer-widget ul li a {
  color: var(--purewhite);
  text-decoration: none;
}

.btm-footer > .container {
  border-top: 1px solid var(--black80);
  padding-top: 32px;
}
.btm-footer {
  background: var(--blackcolor);
}

.copyright p {
  margin-bottom: 0;
}

.powered {
  float: right;
}

.scrollup {
  color: var(--black40);
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  background-color: var(--primarycolor);
}

/* responsive */
.footer-button {
  background: #000 none repeat scroll 0 0;
  border-top: 1px solid #111;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 999999;
  display: none;
}
.footer-bar {
  margin: 0;
  overflow: hidden;
  padding-left: 0;
}
.footer-bar li {
  border-right: 1px solid #111;
  float: left;
  list-style: outside none none;
  padding: 8px 0;
  text-align: center;
  width: 25%;
}
.footer-bar li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.footer-bar li {
  list-style: outside none none;
  text-align: center;
}
.footer_bar li i {
  font-size: 18px;
}
.footer-button ul.footer-bar li:last-child {
  border-right: none;
}
.footer-social {
  float: right;
}

.footer-social ul li a {
  color: var(--purewhite);
}
