/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-padding {
    padding: 40px 0;
  }
  .section-padding-2x {
    padding: 50px 0;
  }
  .no-padding-top {
    padding-top: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .navbar-brand {
    display: block;
  }
  .btm-header .main-menu .navbar {
    justify-content: flex-end;
    padding: 0;
  }
  .main-menu .navbar-collapse {
    position: absolute;
    top: 50px;
    width: 100%;
    background: var(--lightcolor);
    border-radius: 8px;
    padding: 12px 0;
  }
  .navbar-fixed-top {
    position: relative;
  }

  .btm-header .main-menu {
    float: none;
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    margin-top: 10px;
    z-index: 999;
  }
  .hero-content-wrapper {
    margin-bottom: 40px;
    padding-top: 0;
  }
  .dwk-counter.gap-5 {
    gap: 1rem !important;
  }
  ul.dwk-counter li {
    width: 33.33%;
  }
  .dwk-counter h2 {
    font-size: 30px;
  }

  .dwk-counter p {
    font-size: 13px;
  }
  .hero-image-shadow::after {
    display: none;
  }
  .content-how-it-works {
    padding-right: 0;
  }
  .dwkSwiper .swiper-slide ul li i {
    font-size: 18px;
  }
  .blog-card-wrapper {
    gap: 0;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .section-pricing .row.d-grid,
  .pricing-list ul.d-grid {
    grid-template-columns: 1fr;
  }
  .pricing-list.d-flex {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start !important;
  }
  .section-performance-metrics .dwk-counter {
    flex-wrap: wrap;
  }
  .section-performance-metrics .dwk-counter li {
    width: 50%;
  }

  .journey-content {
    padding:30px 0 0 15px !important;
  }
  .btm-footer {
    padding-bottom: 100px;
  }
  .footer-widget {
    margin-top: 30px;
  }
  .footer-widget h3 {
    margin-bottom: 20px;
  }
  .copyright {
    text-align: center;
  }
  .footer-social {
    text-align: center;
    float: none;
  }
  .footer-social ul {
    justify-content: center;
    margin-top: 20px;
  }
  .footer-button {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  .section-padding {
    padding: 30px 0;
  }
  .section-padding-2x {
    padding: 40px 0;
  }
  .no-padding-top {
    padding-top: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  .btm-header .main-menu .navbar {
    padding: 0;
  }
  .navbar-nav li a {
    font-size: 15px;
    padding: 8px !important;
  }
  .hero-content {
    width: 100%;
  }
  .hero-image-shadow::after {
    width: 50%;
  }
  .dwk-counter h2 {
    font-size: 28px;
  }
  .section-pricing .row.d-grid,
  .pricing-list ul.d-grid {
    grid-template-columns: 1fr;
  }
  .pricing-list.d-flex {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start !important;
  }
}
@media (max-width: 1024x) {
  .pricing-list.d-flex {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
}
@media only screen and (min-width: 1300px) and (max-width: 2500px) {
}
